<!DOCTYPE html>
<html>
<head>
	<title>View</title>
	<script src="/javascripts/scripts.js"></script>
	<link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.min.css">
	<style type="text/css">
		ul {
			list-style-type: none;
		}
	</style>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>jQuery UI Datepicker - Default functionality</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
		$( function() {
			$( "#datepicker" ).datepicker();
		} );
	</script>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">
		        Everest Minds Qs
		      </a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li><a href="/new">New</a></li>
		      <li><a href="/index">Index</a></li> 
		    </ul>
		  </div>
		</nav>
		<h2 class="text-center"><%= questionnaire.title %></h2>
		<h3 class="text-center"><%= questionnaire.description %></h3>
		<% for(var i = 0; i < questions.length; i++) { %>
			<% if(i == 0) {%>
				<h3>Section <%= questions[i].section %>:</h3>
			<% } else { %>
				<% if(questions[i].section != questions[i-1].section) { %>
					<h3>Section <%= questions[i].section %>:</h3>
				<% } %>
			<% } %>
			<h4 class="col-sm-offset-1"><%= questions[i].question %></h4>
			<% if(questions[i].answers && questions[i].answers.length > 0) { %>
				<% if(questions[i].type == "multiple") { %>
					<ul class="col-xs-offset-1">
						<% for(var j = 0; j < questions[i].answers.length; j++) { %>
							<li><input type="checkbox" name="<%= questions[i]._id %>"><%= questions[i].answers[j] %></input></li>
						<% } %>
					</ul>
				<% } else { %>
					<ul class="col-xs-offset-1">
						<% for(var j = 0; j < questions[i].answers.length; j++) { %>
							<li><input type="radio" name="<%= questions[i]._id %>"><%= questions[i].answers[j] %></input></li>
						<% } %>
					</ul>
				<% } %>
			<% } else { %>
				<% if (questions[i].type == 'bool'){ %>
					<ul class="col-xs-offset-1">
						<li><input type="radio" name="<%= questions[i]._id %>" value="true">True</input></li>
						<li><input type="radio" name="<%= questions[i]._id %>" value="false">False</input></li>
					</ul>
				<% } %>
				<% if (questions[i].type == 'long'){ %>
					<textarea name="<%= questions[i]._id %>" class="col-xs-offset-1"></textarea>
				<% } %>
				<% if (questions[i].type == 'short'){ %>
					<input type="text" name="<%= questions[i]._id %>" maxlength="150" class="col-xs-offset-1">
				<% } %>
				<% if (questions[i].type == 'date'){ %>
					<input type="text" name="<%= questions[i]._id %>" id="datepicker" class="col-xs-offset-1">
				<% } %>
			<% } %>
		<% } %>

	</div>
</body>
</html>